<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <!-- Menu -->
        <ng-content></ng-content>
    
        <span class="spacer"></span>
        <mat-icon>favoriteng</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
              <mat-icon>publish</mat-icon>
              <span>Share</span>
          </button>
          <button mat-menu-item disabled>
              <mat-icon>mode_comments</mat-icon>
              <span>Comment</span>
          </button>
          <button mat-menu-item disabled>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
          </button>
        </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>